# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Android (được flutter create sinh ra trong CI, không cần commit nếu bạn không sửa tay)
android/.gradle/
android/local.properties
android/app/*.jks
android/key.properties

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
